a{
	font-size: 15px;
}
/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 100%;
	margin: 0 auto;
	
}

.cbp-hrmenu > ul > li {
	display: inline-block;
	background: #333333;
}
.sube{
	position: relative;
	bottom: 20px;
}
.arri{
	position: relative;
	bottom: 20px;
	right: 40px;
}
.cbp-hrmenu > ul > li > a {
	
	padding: 0em 2.5em;
	color: white;
	display: inline-block;
	position: relative;
	bottom: 20px;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #47a3da;
	
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #E5E7E9;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	
}

.cbp-hrsub h4 {
	color: black;
	padding: 1em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 200;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 90%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 1px solid #47a3da;
		background: #333333;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}



